/nvim/.config/nvim/plugin
/zsh/.config/zsh/.zsh_sessions
/zsh/.config/zsh/.zcompdump
/zsh/.config/zsh/.zsh_history
/zsh/.config/zsh/.zhistory
/zsh/.config/zsh/plugins
/zsh/.config/zsh/work_aliases.zsh
/zsh/.config/zsh/.p10k.zsh
/gitbash/work_aliases.sh
.DS_Store
